.cart-panel {
  width: 100%;
  margin: 0 auto 2rem auto;
  border: 1px solid var(--cart-border);
  border-radius: 0.5rem;
  background-color: var(--cart-bg);
  color: var(--main-color);

  .cart__product {
    display: flex;
    flex-direction: column;

    &__title {
      display: none;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 0.9rem 0;
      text-align: right;

      .product-img {
        width: 6.25rem;
        height: 6.25rem;
        background-size: cover;
        background-position: center;
        border-radius: 0.4rem;
      }

      .product-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__name {
          font-size: 1rem;
          font-weight: 400;
        }

        &__amount {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          font-weight: 500;

          .amount__add,
          .amount__minus {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: var(--amount-btn-color);
            text-align: center;
          }

          .amount__count {
            margin: 0 1.8rem;
            font-size: 0.9rem;
          }
        }

        &__price {
          font-weight: 700;

          &::before {
            content: "$ ";
          }
        }
      }
    }
  }

  .cart__delivery,
  .cart__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem auto 0 auto;
    width: 90%;
    border-top: 1px solid var(--cart-border);
    font-size: 0.9rem;

    .delivery-price,
    .subtotal-price {
      font-weight: 700;
      font-size: 0.9rem;
    }

    .subtotal-price::before {
      content: "$ ";
    }
  }

  .cart__delivery {
    padding: 1rem 0 0;
  }

  .cart__subtotal {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1080px) {
  .cart-panel {
    grid-area: 2 / 2 / span 3 / 2;
    height: 91%;
    margin: 0 auto;

    .cart__product {

      &__title {
        display: block;
        width: 90%;
        margin: 2rem auto;
      }

      &__row {
        position: relative;
        justify-content: flex-start;
        width: 90%;
        padding: 0;
        margin: 1rem auto;
        text-align: initial;
        align-items: flex-start;

        .product-details {
          margin: 0 1rem;

          &__name {
            margin: 0 0 1rem;
          }

          &__price {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    .cart__delivery,
    .cart__subtotal {
      padding: 1.5rem 0;
    }
  }
}